/.idea/.gitignore
/out/production/NeuralNet/ponder/activation/Activation.class
/.idea/dbnavigator.xml
/out/production/NeuralNet/ponder/data/InputSet.class
/out/production/NeuralNet/ponder/network/Layer.class
/out/production/NeuralNet/ponder/activation/LinearActivation.class
/.idea/misc.xml
/.idea/modules.xml
/out/production/NeuralNet/ponder/main/NetworkTester.class
/out/production/NeuralNet/ponder/network/NetworkTrainer.class
/NeuralNet/NeuralNet.iml
/out/production/NeuralNet/META-INF/NeuralNet.kotlin_module
/out/production/NeuralNet/ponder/network/NeuralNetwork.class
/out/production/NeuralNet/ponder/network/Neuron.class
/out/production/NeuralNet/ponder/err/PonderInvalidInputException.class
/.idea/codeStyles/Project.xml
/out/production/NeuralNet/ponder/activation/SigmoidActivation.class
/.idea/uiDesigner.xml
/.idea/vcs.xml
/out/production/NeuralNet/XOR_Inputs.csv
/out/production/NeuralNet/XOR_TestSet.csv
/.gitignore
